force-app/main/default/flows/Monitoramento_Sincronismo_Conta_Azul.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Verificar_Status_e_Data</name>
        <label>Verificar Status e Data</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Sincronismo OK</defaultConnectorLabel>
        <rules>
            <name>Falhou_ou_Atrasou</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Configuracao.Status_Ultimo_Sincronismo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Configuracao.Data_Ultimo_Sincronismo__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Formula_Data_Limite</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Email_Alerta</targetReference>
            </connector>
            <label>Falhou ou Atrasou</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_Data_Limite</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 1</expression>
    </formulas>
    <interviewLabel>Monitoramento Sincronismo Conta Azul {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Monitoramento Sincronismo Conta Azul</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Configuracao</name>
        <label>Obter Configuração</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verificar_Status_e_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ClientId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Configuracao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <actionCalls>
        <name>Enviar_Email_Alerta</name>
        <label>Enviar E-mail de Alerta</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>tulio.sales@c3c.com.br</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>⚠️ ALERTA: Falha no Sincronismo Conta Azul &lt;-&gt; Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Atenção, o sincronismo automático com o Conta Azul no Heroku apresentou problemas.

Status da Última Tentativa: {!Obter_Configuracao.Status_Ultimo_Sincronismo__c}
Data do Último Sucesso: {!Obter_Configuracao.Data_Ultimo_Sincronismo__c}
Mensagem de Erro: {!Obter_Configuracao.Mensagem_Erro_Sincronismo__c}

Por favor, verifique o status do Heroku Scheduler.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Configuracao</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-06-22</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
